@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
    
}
/* :root{
    --primary-color: #2b81e4;
    --secondary-color: #fff ;
    --white-color: #eee;
    --grey-color: #555;
    --light-grey-color: #777;
} */
/* navbar */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container{
    background-color: var(--secondary-color);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;

} */
/* end of common styles */

/* navbar */
.navbar-icon{
    width: 3.8rem;
    height: 3.8rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    flex-direction: column;
}
.open-navbar-icon{
    position: fixed;
    top: 3rem;
    left: 3.5rem;
    z-index: 210;
} 
.navbar-icon .line{
    height: 0.2rem;
    width: 2.5rem;
    background-color: grey;
}
.open-navbar-icon .line{
    margin: 0.3rem 0;
}
.navbar-wrapper{
    width: 94vw;
    height: 89vh;
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    left: 0;
    bottom: -100%;
    opacity: 0;
    z-index: 300;
    padding: 3.5rem 5.5rem 3.5rem 3.5rem;
    transition:  bottom 0.5s opacity 0.2s;
    
}
.change .navbar-wrapper{
    bottom: 0;
    opacity: 1;
    transition:  bottom 0.5s opacity 0.25s;
}
.navbar{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),
    url('./images/navbar-bg.jpg') center no-repeat ;
    position: relative;
    background-size: cover ;
    overflow-y: hidden;
}


.close-navbar-icon{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 300;
}
.close-navbar-icon .line{
    position: absolute;
}
.line-1{
    transform: rotate(40deg);
}
.line-2{
    transform: rotate(-40deg);
}
.nav-list{
    height: 100%;
    display: flex;
}
.nav-link{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    top: -100%;
    position: relative;
    opacity: 0.8;
    transition: all 0.3s;

}
.change .nav-link{
    top: 0;
}
.nav-link:hover{
    opacity: 1;
    color: rgb(52, 125, 236);
}
.change .nav-link:nth-child(1){
    transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}
.change .nav-link:nth-child(2){
    transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}
.change .nav-link:nth-child(3){
    transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}
.change .nav-link:nth-child(4){
    transition: top 1s 1s, opacity 0.3s, color 0.3s;
}

/* navbar end */


/* TOURS SECTION BEGINS */
.wrapper{
    margin: 0px auto 100px auto ;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.stage{
    /* this removes all the dots in the list  */
    list-style: none;
    padding: 0px;
    margin-top: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background: bisque; */

}
.scene{
    width: 260px;
    height: 400px;
    margin: 30px;
    float: left;
    perspective: 1000px;
}
.movie{
    width: 260px;
    height: 400px;
    transform-style: preserve-3d;
    /* translateZ() ye andar ki tarf dhakel raha hai box ko */
    transform: translateZ(-130px);
    transition: transform 350ms;
}
.movie:hover{
    transform: rotateY(-78deg) translateZ(20px);
}
.movie .poster,
.movie .info{
    position: absolute;
    width: 260px;
    height: 400px;
    /* yaha agr me colour change karu toh dabbe ka color change ho jaega */
    background-color: #fff;
    backface-visibility: hidden;
}
.movie .poster{
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
}
.movie .info{
    transform: rotateY(90deg) translateZ(130px);
    font-size: 0.75em;
    border: 2px solid #B8B5B5;
}

/* yeh movie after shadow effect de raha hai jisse aur badiya lag raha hamare dibba */
.movie::after{
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0,0,0,0.3);
    transform-origin: 100% 100%;
    transform: rotateX(90deg) translateY(130px);
    transition: box-shadow 350ms;
}
.movie:hover::after{
    box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

.info header{
color: #fff;
padding: 7px 10px;
font-weight: bold;
height: 195px;
background-size: contain;
background-repeat: no-repeat ;
text-shadow: 0px 1px 1px rgba(0,0,0,1);
}
.info header h1{
margin: 0 0 2px;
font-size: 1.4rem;
}
.info header .rating{
border: 1px solid #fff;
padding: 0px 3px;

}
.info p {
padding: 1.2em 1.4em;
margin: 151px 0 0;
font-weight: 700;
color: #666;
line-height: 1.4em;
border-top: 10px solid #555;
}
.movie .poster,
.movie .info,
.movie .info header {
transition: box-shadow 350ms;
}

.movie .poster {
box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.movie:hover .poster {
box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}
.movie .info, 
.movie .info header {
box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.movie:hover .info, 
.movie:hover .info header {
box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}


.scene:nth-child(1) .movie .poster{
background-image: url('./images/india1.jpg');
}
.scene:nth-child(2)  .poster{
background-image: url('./images/australia.jpg');
}
.scene:nth-child(3)  .poster{
background-image: url('./images/japan.jpg');
}
.scene:nth-child(1) .info header{
background-image: url('./images/taj.jpg');
}
.scene:nth-child(2) .info header{
background-image: url('./images/opera.jpg');
}
.scene:nth-child(3) .info header{
background-image: url('./images/imperial.jpg');
}
.tours-section::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: url('./images/earth.jpg') no-repeat center center/cover;
    width: 100%;
    height: 2577px;
    z-index: -5;
    opacity: 1;
    
    }
.inner-section {
width: 29%; 
margin-top: 109px;
height: 237px;
/* border-radius: 310px 0px 3px 0px; */
margin-right: 10px;
float: right;
background:url('./images/tun.jpg') no-repeat center center/cover;
padding: 140px;
box-shadow: 10px 10px 10px black;
}
.inner-section h1 {
    font-size: 65px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #edf6ff;
    }
.inner-section p {
    font-size: 20px;
    color: rgb(255 166 254);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    margin-right: 40px;
    }
    
.heading {
font-size: 6rem;
color: #6d5252;
height: 57px;
z-index: 6;
background: black;
padding: 8px 36px 6px 57px;
}
.toursec1{
    background: url('./images/varanasi.jpg') no-repeat right;
    
    background-size: 50%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(199, 192, 128); */
    padding: 72px 0;
} 
.inner-sectionone{
width: 50%;
margin-top: 0px;
float: left;
background: #919d35;
padding: 104px;
box-shadow: 10px 10px 10px black;

}
.inner-sectionone h1 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #ffe5b5;
}
.inner-sectionone p {
font-size: 20px;
color: var(--light-grey-color);
line-height: 30px;
text-align: justify;
margin-bottom: 40px;
margin-right: 40px;
}

.toursec2{
    background: url('./images/japanmount.jpg') no-repeat left;
    margin-top: 56px;
    
    background-size: 50%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(199, 192, 128); */
    padding: 72px 0;
}
.inner-sectiontwo{
width: 49%;
margin-top: 0px;
float: right;
background:#5b959b;
padding: 140px;
box-shadow: 10px 10px 10px black;

}

.inner-sectiontwo h1 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #ffe5b5;
}
.inner-sectiontwo p {
font-size: 20px;
color: var(--light-grey-color);
line-height: 30px;
text-align: justify;
margin-bottom: 40px;
margin-right: 40px;
}
.toursec2{
    background: url('./images/japanmount.jpg') no-repeat left;
    margin-top: 56px;
    
    background-size: 50%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(199, 192, 128); */
    padding: 72px 0;
}

.inner-sectionthree{
width: 45%;
margin-top: 83px;
/* margin-left: 479px; */
float: left;
background: url('./images/cosmos.jpg') no-repeat center center/cover;
padding: 64px;
margin-bottom: 24px;
box-shadow: 10px 10px 10px black;

}
.toursec3 video{
    margin: 57px;
    margin-left: 115px;
}

.inner-sectionthree h1 {    
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #ff9519;
}
.inner-sectionthree p {
font-size: 20px;
color: wheat;
line-height: 30px;
text-align: justify;
margin-bottom: 40px;
margin-right: 40px;

}
.footer {
background-color: grey;
padding: 2rem 0 2rem 0;
margin-top: -1rem;
}
.footer-list{

    display: flex;
    justify-content: center;
}
.footer-link{
    font-size: 24px;
    color: white;
    margin: 0 1rem;
    background-color: gray;
    padding: 0.3rem 3rem;
    letter-spacing: 0.3rem;
    transition: all 0.3s;
    text-decoration: none;
}
.footer-link:hover{
    transform: rotate(-10deg);
    box-shadow: 0 2rem 3rem #000;
}
.footer-para{
    font-size: 1.6rem;
    text-align: center;
    color: var(--white-color);
    letter-spacing: 0.2rem;
    margin-top: 1.1rem;
}


/* TOUR SECTION END */